*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto.ttf");
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/Robotobold.ttf");
  font-weight: bold;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0 auto;
  max-width: 100%;
}


.flex {
    gap: 20px;
    justify-content: space-between;
}


/*HEADER & FOOTER*/

.header{
    border-bottom: #E5E5E5 solid 1px;
    padding: 25px 0;
}

.container{
    margin: 0 auto;
}
.header .container{
    display: flex;
    align-items: center;
}
.logo img{
vertical-align: bottom;
}

.menu{
    margin-left: 244px;
}
.menu ul{
    display: flex;
    list-style: none;
}

.menu-item{
    margin-right: 115px;
}

.menu-item a{
    font-size: 15px;
    color: #030305;
    text-decoration: none;
}

.menu-item a:hover{
    border-bottom: 2px solid #030305;
}

.footer{
    margin-top: auto;
    border-top: #E5E5E5 solid 1px;
    padding: 25px 0;
}

.footer .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rights{
    color: #030305;
}

.c{
    padding-right: 200px;
}





/*BLOCK1*/

.main{
    background-image: url(img/background.png);
    background-position: center;
    background-size: cover;
    padding: 104px 0 154px 0;
}

.main-info{
    max-width: 855px;
}

.main-title{
    font-weight: bold;
    font-size: 80px;
    line-height: 110%;
    color: #030305;
    margin-bottom: 41px;
}

.main-text{
    max-width: 502px;
    font-size: 16px;
    line-height: 130%;
    color: #030305;
    margin-bottom: 40px;
}
.button{
background-color: #030305;
color: #fff;
height: 64px;
width: 334px;
font-size: 16px;
text-transform: uppercase;
padding: 20px;
font-weight: bold;
border: 0;
box-sizing: border-box;
letter-spacing: 0.02em;
transition: background-color 0.05s;
}

.button:hover{
    background: #575757;
    cursor: pointer;
}
@media(max-width:768px){
 .main 
 {  
    background-image: none;
    text-align: center;
    padding: 50px 0 50px 0;
 }
}



/*BLOCK2*/

.block2 {
    margin-top: 100px;
    margin-bottom: 100px;
} 

.car-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.car-item{
    width: 384px;
    text-align: center;
    margin-top: 40px;
}

.car-item-title{
    font-size: 24px;
    font-weight: bold;
    line-height: 150%;
    text-align: center;
    color: #030305;
    padding: 15px 0 17px 0;
    letter-spacing: 0.02em;
}

.car-item-action{
    margin-top: 13px;
}

.car-item-action .button{
    width: 100%;
    height: 54px;
    padding: 15px;
}

.car-item-image:hover img{
transform: scale(1.1);
}
.car-item-image img{
    vertical-align: bottom;
    transition: all 0.3s;
}
.icon {
    display: flex;
   /* flex-direction: row;*/
   justify-content: space-between;
}
.icon img {
    width: 33px;
    height: 33px;
}
.main-text-icon{
    font-weight: bold;
}
.icon-text{
    padding: 15px;
}

.price{
    overflow: hidden;
}

.price .container{
    position: relative;
    padding-bottom: 121px;
}

.price .sub-title{
    margin-bottom: 20px;
    font-size: 60px;
    font-weight: 700;
    color: #030305;
}

.price-text{
    font-size: 16px;
    line-height: 150%;
    color: #5D5D5F;
    margin-bottom: 60px;
}
.price-form{
    max-width: 344px;
}

.price-input{
    padding: 22px 18px;
    margin-bottom: 15px;
    width: 344px;
    background-color: #fff;
    border: 1px solid #5D5D5F;
    font-size: 16px;
    color: #000000;
    outline: none;
    box-sizing: border-box;
}

.price-input::placeholder{
    color: #5D5D5F;
}

.price .button{
    width: 100%;
}

.price-image{
    position: absolute;
    bottom: 0;
    left: 401px;
}

.button{
background-color: #030305;
color: #fff;
height: 64px;
width: 334px;
font-size: 16px;
text-transform: uppercase;
padding: 20px;
font-weight: bold;
border: 0;
box-sizing: border-box;
letter-spacing: 0.02em;
transition: background-color 0.05s;
}

.button:hover{
    background: #575757;
    cursor: pointer;
}

@media (max-width: 768px) {
    .car-items {
        justify-content: center;
        margin: 0 auto;
    }
}


/*BLOCK3*/

.price .container {
  position: relative;
  padding-bottom: 0;
}

.price .sub-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  color: #030305;
}

.price-text {
  font-size: 16px;
  line-height: 150%;
  color: #5d5d5f;
  margin-bottom: 60px;
}

.price-form {
  max-width: 344px;
}

.price-input {
  padding: 22px 18px;
  margin-bottom: 15px;
  width: 344px;
  background-color: #fff;
  border: 1px solid #5d5d5f;
  font-size: 16px;
  color: #000000;
  outline: none;
  border-radius: 0px;
}

.price-input::placeholder {
  color: #5d5d5f;
}

.price .button {
  width: 100%;
}

.price-image {
  position: absolute;
  bottom: 0;
  left: 401px;
}

.button {
  background-color: #030305;
  color: #fff;
  height: 64px;
  width: 334px;
  font-size: 16px;
  text-transform: uppercase;
  padding: 20px;
  font-weight: bold;
  border: 0;
}

.button:hover {
  background: #575757;
  cursor: pointer;
}

@media (max-width: 768px) {
  .price-image{
    display: none;
  }

  .price-form{
    margin: 0 auto;
  } 
}
